/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0%;
}

.main-container {
  width: 95%;
  max-width: 1440px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

/*article*/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

section .items {
  background-color: var(--main-color);
  display: flex;
  height: 200px;
  width: 50px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
/* le contenaire gris */
.presentation {
  width: 65%;
}

.imagesgauche {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images-hebergement {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 25px;
  border: #ffffff solid 5px;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.image1 {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: -20px;
}

.image-content {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
}

/*titre*/
.image-txt h3 {
  font-size: 15px;
  padding-top: 15px;
  margin-left: 15px;
  margin-bottom: -10px;
}

.soustitre {
  margin-left: 15px;
  font-size: 15px;
}

.étoiles {
  margin-left: 15px;
  margin-top: -10px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 65%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 40px;
}

nav li:hover {
  text-decoration: none;
  color: var(--main-color);
  position: relative;
}

nav li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  border-top: 2px solid var(--main-color);
}

nav img {
  width: 3em;
  height: 1em;
}

.choixliste {
  display: flex;
}

.barre-recherche {
  width: 350px;
  height: 45px;
  display: flex;
  flex-direction: row;
}

.barre-recherche .fa-solid {
  width: 60px;
  height: 45px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.barre-recherche .barreSaisie {
  width: 190px;
  height: 45px;
  border: solid 1px var(--main-bg-color);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  outline: none;
  color: black;
}
.barre-recherche .rechercher {
  width: 120px;
  height: 45px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.motrecherche {
  display: inline;
}

.mobile {
  display: none;
}

header h1 {
  font-size: medium;
  margin-top: 5%;
}

header p {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  padding-top: 20px;
}

.filtres .boutonsfiltres {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 20px;
}

.filtres .boutonsfiltres button {
  border-radius: 40px;
  height: 30px;
  margin-top: 10px;
  padding: 10px 20px 25px 20px;
  align-items: center;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  border: 2px solid var(--main-bg-color);
}

.filtres .boutonsfiltres button:hover {
  background-color: var(--filter-bg-color);
}

.information {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.information p {
  padding-top: 10px;
}

.information .fa-solid {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: solid 2px var(--main-bg-color);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************* Activités à Marseille*******************/

.titreactv {
  margin-top: 60px;
  margin-left: 30px;
}

.activitésbas {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.imageettxt {
  border-radius: 20px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 90%;
}

.imagebasse {
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.titleimgbasse {
  margin-left: 20px;
  font-size: 12px;
}

/*********FOOTER********/

footer {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 15%;
  line-height: 2;
}

footer p {
  margin-top: 0px;
}
footer h3 {
  margin-bottom: 0px;
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  .filtres h3 {
    width: 98%;
  }
  .filtres .boutonsfiltres {
    margin-left: 0px;
  }

  .main-container {
    width: 95%;
    justify-content: center;
  }
  .presentation {
    width: 100%;
  }

  .choixliste {
    padding-left: 0px;
  }

  .information {
    margin-top: 20px;
  }

  .hebergements-and-populaires {
    display: inline-block;
    width: 100%;
  }

  /*populaire */

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires .card {
    width: 100%;
    margin-top: 15px;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .titleimgbasse {
    font-size: 9px;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    width: 100%;
  }

  nav img {
    margin: 5% 47% 5% 47%;
  }

  .choixliste {
    width: 100%;
    display: flex;
  }

  .choixliste :hover::before {
    border-top: none;
  }

  .Activités,
  .Hébergements {
    border-top: none;
    margin-left: 0px;
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 10px;
    flex: 1;
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }

  .Activités:hover,
  .Hébergements:hover {
    border-bottom-color: var(--main-color);
  }

  .txtdebut {
    margin-left: 20px;
  }

  /****************BARRE DE RECHERCHE***************/
  .barre-recherche {
    width: 100%;
    justify-content: center;
  }
  .barre-recherche .barreSaisie {
    width: 60%;
    border: 1px solid var(--main-bg-color);
    border-right: none;
  }
  .barre-recherche .rechercher {
    width: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2);
  }
  .motrecherche.desktop {
    /*LOGO RECHERCHER*/
    display: none;
  }
  .mobile {
    /*LOGO LOUPE*/
    display: inline;
  }

  /****************FIN BARRE DE RECHERCHE***************/
  .filtres {
    margin-left: 20px;
    margin-bottom: 0%;
  }

  .boutonsfiltres {
    flex-wrap: wrap;
    border-bottom: 200px;
  }
  .information {
    margin-left: 20px;
  }

  /*HEBERGEMENT AND POPULAIRE*/

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  /*presentation*/

  .hebergements-and-populaires .presentation {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }
  .images-hebergement {
    width: 100%;
  }

  .imagesgauche /*toute la section*/ {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image-content  /*div de l'image et du titre*/ {
    width: 100%;
  }

  .afficherplus {
    margin: 0px;
  }

  /*Populaire*/

  .hebergements-and-populaires .populaires {
    border-radius: 0px;
    margin-top: 0px;
  }

  .populaires .populaires-cards {
    display: block;
  }

  .populaires .populaires-cards .card {
    width: 100%;
  }

  /*ACTIVITE A MARSEILLE*/

  .titreactv {
    margin-left: 10%;
    font-size: 15px;
  }

  .activitésbas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageettxt {
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
  }

  .imagebasse {
    height: 70%;
  }

  .titleimgbasse {
    font-size: 12px;
  }
  /**********************************FOOTER**********************************/
  footer {
    display: block;
    height: 12%;
    padding-left: 7%;
    padding-top: 20px;
    margin-top: 40px;
  }
}
